* {
    margin: 0;
    padding: 0;
}

body {
}

.contents {
    width: 1024px;
    background: url(gradation.png) repeat-x #fff;
}

a img {
    border: 0;
}

table {
    margin: 20px;
    background: #ffffff;
}

th, td { 
    text-align: center;
}

th, td.disabled { 
    width: 5em;
    height: 2em;
}

td { 
    width: 62px;
    height: 83px;
}

table.form td { 
    text-align: left;
}

th {
    background: #666;
    color: #ffffff;
}

td.disabled { 
    background: gray;
    colod: white;
}

td.myself { 
    background: yellow;
    colod: black;
}

p, ul {
    margin: 1em;
}

li { 
    margin: 0 1em;
}

address {
    text-align: right;
}

h1 {
    font-size: x-large;
    margin: 0.5em 0.5em 0 20px;
    padding: 3px 3px 3px 0.5em ;
    border-left: 1em solid #55a;
    border-bottom: 1px solid #55a;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 5px;
    border-bottom: 1px solid #55a;
}

h2, dl {
    margin-left: 20px;
}

div.header {
    width: 964px;
    height: 60px;
    margin: 0 auto 15px 20px;
}

div.ad {
    float: left;
    width: 468px;
    height: 60px;
    text-align: center;
}

div#login {
    float: right;
    width: 300px;
    margin: 0;
    font-size: 12px;
    text-align: right;
}
div.clear {
    clear: both;
}

div#login img {
    vertical-align: bottom;
}

table.seats th, table.seats td {
    width: 60px;
}
table.seats td {
    font-size: x-small;
}
table.seats td div.screen_name {
    width: 60px;
    white-space: nowrap;
    word-wrap: break-word;
    word-break:break-all;
}

table.seats img {
    width 48px;
    height: 48px;
}

.qpstudy {
    display: none;
}

/* Copied from http://bowz.info/1337 */
dl {
    padding: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

dl dt {
    margin: 0;
    padding: 0.5em 0 0.1em 1em;
    border-top: 1px solid #ccc;
    width: 8em;
    float: left;
    color: #333;
}
    
dl dd {
    margin: 0 0 0 8em;
    padding: 0.5em 1em;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #666;
}

