* {
    margin: 0;
    padding: 0;
}

body {
}

.contents {
    width: 1024px;
    background: url(gradation.png) repeat-x #fff;
}

a img {
    border: 0;
}

table {
    margin: 20px;
    background: #ffffff;
}

th, td { 
    text-align: center;
    width: 5em;
    height: 2em;
}

th {
    background: #666;
    color: #ffffff;
}

td.disabled { 
    background: gray;
    colod: white;
}

td.myself { 
    background: yellow;
    colod: black;
}

p, ul {
    margin: 1em;
}

li { 
    margin: 0 1em;
}

address {
    text-align: right;
}

h1 {
    margin: 0.5em 0.5em 0.5em 20px;
    padding: 3px 3px 3px 0.5em ;
    border-left: 1em solid #0a0;
    border-bottom: 1px solid #0a0;
    clear: both;
}

div.header {
    width: 964px;
    height: 60px;
    margin: 0 auto 15px 20px;
}

div.ad {
    float: left;
    width: 468px;
    height: 60px;
    text-align: center;
}

div#login {
    float: right;
    width: 300px;
    margin: 0;
    font-size: 12px;
    text-align: right;
}
div.clear {
    clear: both;
}

div#login img {
    vertical-align: bottom;
}

table.seats th, table.seats td {
    width: 60px;
}
table.seats td {
    font-size: x-small;
}
table.seats td div.screen_name {
    width: 60px;
    white-space: nowrap;
    word-wrap: break-word;
    word-break:break-all;
}

table.seats img {
    width 48px;
    height: 48px;
}

.qpstudy {
    display: none;
}
